<div *ngIf="hero">
  <h2>{{ hero[0].name | uppercase }} Details</h2>
  <div><span>id: </span>{{hero[0].id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero[0].name" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>